
#detailPertanyaan-head{
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

#detailPertanyaan-head img{
    width: 60px;
    height: 60px;
    border: 1px solid black;
}

@media (max-width: 768px) {
    #detailPertanyaan-head .btn{
        width: 100% !important;
    } 
}

#detailPertanyaan-body{
	width: 100%;
	/* min-height: 723px; */
	height: auto;
	background-color: #D8E8F3;
	margin: 0 auto;
	border-radius: 15px;
	border: 2px solid rgba(0, 0, 0, 0.5);
}

#detailPertanyaan-body .label{
	width: 102.3%;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

#detailPertanyaan-body .perJawaban{
	width: 90%;
	min-height: 180px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

#detailPertanyaan-body .perJawaban .deskripsi{
    width: 100%;
    position: relative;
    right: -12px;
}

#detailPertanyaan-body .perJawaban .deskripsi .verived h4{
	border: 5px solid #04CF00;
	border-radius: 15px;
	width: 148px;
	height: 39px;
}



#detailPertanyaan-body .perJawaban .jawaban p{
    width: 97%;
    
}
