/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:  Quicksand,Arial, Helvetica, sans-serif !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


a{
	text-decoration: none;
}

/* selesai CSS reset */
/* selesai CSS reset */
/* selesai CSS reset */
/* selesai CSS reset */
/* selesai CSS reset */
/* selesai CSS reset */



/* ------------------------------------------------------------------------
        	HERO
-------------------------------------------------------------------------- */
#hero {
	width: 100%;
	height: 680px;
	background: linear-gradient(292.45deg, #7827e6 33.61%, rgba(220, 199, 248, 0.96) 105.2%);
}

#hero .h1h2{
	margin-top: 50px;
}

#hero .logo{
	position: absolute;
    top: 32px;
}

#hero h1 {
	margin: -120px 0 0 0;
	font-size: 56px;
	font-weight:bold;
	line-height: 70px;
	color: #fff;
	width: 721px;
  }
  

  #hero h2 {
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 45px;
	margin-top: 60px;
	font-size: 24px;
  }
  


  /* tombol get started dan sign up */
  #hero .btn-get-started, #hero .btn-sign-up {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 28px ;
	border-radius: 50px;
	transition: 0.5s;
	color: #151d36;
	background: #fff;
  }
  
  /* membedakan button signup */
  #hero .btn-sign-up{
	padding: 10px 40px ;
	color: #fff;
	background:none;
	border: 2px solid #151d36;
  }
  
  /* bitton get started dan signup saat hoover */
  #hero .btn-get-started:hover, #hero .btn-sign-up:hover {
	background: #151d36;
	color: #fff;
  }
  
  
	#hero .signUp{
		padding-left: 42px;
	}

	/* tombol login,signupdan get started saat aktif */
	#hero a:focus {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 20px;
		font-size: 15px;
		font-weight: 500;
		background-color: #151d36;
		color: #fff;
		white-space: nowrap;
		transition: 0.3s;
	}

	
	/* #hero .logIn h3{
		display: inline-block;
		margin:5px 16px 0 0;
		font-size: 24px;
		font-weight: bold;
		color: white;
	} */

	#hero .logIn  {
		display: flex;
		float: right;
		margin-top: -126px;
	}
	
	  /* tombol login saat aktif */
	  #hero .logIn a.button:focus{
		  display: inline-block;
	  }
	
	/* membuat animasi */
	#hero .animasi {
		animation: up-down 2s ease-in-out infinite alternate-reverse both;
	}

	@-webkit-keyframes up-down {
		0% {
		transform: translateY(10px);
		}
		100% {
		transform: translateY(-10px);
		}
	}

	@keyframes up-down {
		0% {
		transform: translateY(10px);
		}
		100% {
		transform: translateY(-10px);
		}
	}


	/* responsive hero */

  @media (max-width: 991px) {
	#hero {
	  height: 100vh;
	  text-align: center;
	}
	#hero .animated {
	  -webkit-animation: none;
	  animation: none;
	}
	#hero .hero-img {
	  text-align: center;
	}
	#hero .hero-img img {
	  width: 50%;
	}
  }
  
  
  @media (max-width: 700px) {
 #hero{
	 width: 100%;
 }

	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
	#hero h2 {
	  font-size: 18px;
	  line-height: 24px;
	  margin-bottom: 30px;
	}
	#hero .hero-img img {
	  width: 70%;
	}
  }
  
  @media (max-width: 575px) {
	#hero .hero-img img {
	  width: 80%;
	}
	#hero .btn-get-started {
	  font-size: 16px;
	  padding: 10px 24px 11px 24px;
	}
  }

  
  
  

  /* --------------------------------------------------------------------
  			SELESAI HERO
---------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------------
halaman login 
---------------------------------------------------------------------------- */

.wave-login{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.containerLogIn{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.containerLogIn .img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.containerLogIn .login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.containerLogIn .img img{
	width: 500px;
}

.containerLogIn form{
	width: 360px;
}

.containerLogIn .login-content img{
    height: 100px;
}

.containerLogIn .login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.containerLogIn .login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.containerLogIn .i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerLogIn .i i{
	transition: .3s;
}

.containerLogIn .input-div > div{
    position: relative;
	height: 45px;
}

.containerLogIn .input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.containerLogIn .input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
  background-color: #7827E6;
	transition: .4s;
}

.containerLogIn .input-div:before{
	right: 50%;
}

.containerLogIn .input-div:after{
	left: 50%;
}

.containerLogIn .input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.containerLogIn .input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.containerLogIn .input-div.focus > .i > i{
	color: #7827E6;
}

.containerLogIn .input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.containerLogIn .input-div.pass{
	margin-bottom: 4px;
}

.containerLogIn a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

.containerLogIn a:hover{
	color: #38d39f;
}

.containerLogIn .btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	/* background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f); */
  background-color: #7827E6;
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.containerLogIn .btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){

	.containerLogIn form{
		width: 290px;
	}

	.containerLogIn .login-content h2{
        font-size: 1.5rem;
        margin: 8px 0;
	}

	.containerLogIn .img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.containerLogIn{
		grid-template-columns: 1fr;
	}

	.containerLogIn .img{
		display: none;
	}

	.containerLogIn .wave{
		display: none;
	}

	.containerLogIn .login-content{
		justify-content: center;
	}

  
   img.wave-login{
    display: none;
  }
}
/* halaman login */


/* ----------------------------------------------------------------------------------
halaman utama
----------------------------------------------------------------------------------- */

nav{
  display: flex;
  background-color: rgb(1,47,124);
  justify-content: space-around;
  height: 60px;
  color: white;
  align-items: center;
}



nav .logo img{
    width: 136px;
    margin-top: -17px;
    padding: 18px 14px 8px 14px;
    border-radius: 0 0 15px 15px;
    background-color: white;
    position: absolute;
    left: 4%;
    top:8px;
}

nav ul{
  width: 20%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  position: relative;
  right: -3%;
}

@media (max-width:1175px){
  nav ul{
    right: 0%;
  }
}


nav .profilUser{
  position: absolute;
  right: 5%;
}

nav .profilUser .namaUser{
  font-size: 20px;
}

@media (max-width:573px){
  nav .profilUser{
    left: -5px;
  }
}

nav ul li a{
  color: rgb(214, 214, 214);
  text-decoration: none;
}

nav ul li a:hover{
  color: white;
  padding-bottom: 3px;
  border-bottom: 2px solid white;
}

nav ul li .troli{
  font-size: 100px;
}

nav .menu-toggle{
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

nav .menu-toggle input{
  position: absolute;
  width: 40px;
  height: 28px;
  z-index: 2;
  cursor: pointer;
  left: -6px;
  top: -5px;
  opacity: 0;
}

nav .menu-toggle span{
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(214, 214, 214);
  border-radius: 3px;
  transition: 0.5s;
}

/* animasi hamburger menu(toggle)
span1=rotate ke bawah , span2=menghilang , span3 rotate ke atas */

nav .menu-toggle span:nth-child(2){
  transform-origin: 0 0;
}

nav .menu-toggle input:checked ~ span:nth-child(2){
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

nav .menu-toggle span:nth-child(4){
  transform-origin: 0 100%;
}

nav .menu-toggle input:checked ~ span:nth-child(4){
  background-color: white;
  transform: rotate(-45deg) translate(-1px , 0);
}

nav .menu-toggle input:checked ~ span:nth-child(3){
  transform: scale(0);
}


nav .profilUser a{
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

nav .profilUser ul{
  width: 145px;
  height: 120px;
  border: 0.1px solid rgba(0, 0, 0, 0.555);
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  gap: 4px;
  transition:all 0.8s;
}

nav .profilUser ul li a{
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 35px;
  color: #151515;
  border-radius: 25px;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  margin: 5px auto;
}

nav .profilUser ul li:nth-child(2) a{
  background-color: #ec3232;
  margin-top: 20px;
}




nav .profilUser a h3, nav .profilUser a img{
  color: #ffffff;
}




nav .profilUser a .namaUser{
  position: relative;
  right: -8px;
}



/* responsive */
@media (max-width:950px){
  nav{
    height: 50px;
  }

  nav .profilUser .fotoUser{
    width: 28px;
    height: 28px;
  }
  nav .profilUser .namaUser{
    font-size: 16px;
  }

  nav ul{
    width: 30%;
    
  position: relative;
  right: 24px;
  }

  nav .logo img{
    width: 128px;
  }
}



@media (max-width:700px){
  nav .profilUser{
    position: relative;
    right: -50px;
  }

  nav ul li .troli{
    order: 1;
  }

  ul li:nth-last-child(n+2){
    order: 1;
  }

  nav ul {
    position: absolute;
    right: 0;
    flex-direction: column;
    top: 0;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    z-index: -2;
    background-color: #9B8BDE;
    width: 100%;
    transform: translatey(-100%);
    transition: all 1s;
    opacity: 0;
  }

  nav .menu-toggle{
    display: flex;
    position: absolute;
    right: 24px;
    z-index: 9992;
  }

  nav ul.slide{
    transform: translatey(0);
    opacity: 1;
    z-index: 9991;
  }

  nav ul li a{
    font-size: 20px;
    color: #151515;
    font-weight: bold;
    transition: all 0.5s;
  }

  nav ul li a:hover{
    color: black;
    border-bottom: 2px solid black;
    font-size: 24px;
  }
}





/* Footer */
footer{
  background-color:rgb(1,47,124) ;
  margin-top: 250px;
}
footer li{
  margin-bottom: .5rem !important;
}
/*selesai footer*/





/* carousel */
#carouselExampleControls{
  width: 100%;
}
/* selesai carousel */



/* why us */
#whyUs{
  margin-top: 48px;
  height: 345px;
}

#whyUs h3.baris ,#whyUs h2{
  color: #555B63;
}

#whyUs .baris3 h3{
  font-size: 24px;
}

#whyUs .baris3 i.icon{
  box-sizing: content-box;
  color: black;
  background-color: #9B8BDE;
}




@media (max-width:767px){

}
/* selesai why us */



/* mulai belajar halaman utama */
#mulaiBelajarHalUtama{
  background-color: #EFF2F6;
  width: 100%;
  height: 630px;
}


/* tutup mulai belajar halaman utama */



/* forum halaman utama */
#forumDiHalUtama{
  height: 630px;
  width: 100%;
}

/* tutup forum halaman utama */



/*  materi dan forum di halaman utama */
#mulaiBelajarHalUtama p ,#forumDiHalUtama p{
  margin: 144px 0 24px 0;
}

#forumDiHalUtama a , #mulaiBelajarHalUtama a{
  background-color: #7827E6;
  color:white;
  display: grid;
  width: 220px;
  height: 46px;
  border-radius: 50px;
  font-size: 20px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}

@media (max-width:768px){
#forumDiHalUtama img , #mulaiBelajarHalUtama img{
  display: none;
}

#mulaiBelajarHalUtama p ,#forumDiHalUtama p{
  margin: 144px 0 24px 0;
}
}
/* tutup  materi dan forum di halaman utama */



/* leaderboard */
#leaderboard{
  width: 100%;
  height: 744px;
  background-color: #EFF2F6;
}

#leaderboard .container p.paragraph{
  position: relative;
  top: 84px;
  font-size: 20px;
  line-height: 30px;
  color: #151d36;
}

.no1-10{
  display: flex;
  flex-direction: column;
}

#leaderboard .tingkat1{
  width: 443px;
  height: 684px;
  background-color: white;
  margin-top: 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.25);
}

#leaderboard .tingkat1 h2.judul{
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: 16px;
  margin-bottom: 20px;
}

#leaderboard .no1-3{
  display: flex;
  justify-content: space-evenly;
}

#leaderboard .tingkat1 .no1-10 h2{
  font-weight: normal;
  font-size: 42px;
}

#leaderboard .tingkat1 .no1-10 h3{
  font-size: 24px;
font-weight: bold;
margin-bottom: 4px;
}

#leaderboard .no1,#leaderboard .no2,#leaderboard .no3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no1{
  position: relative;
  top: 30px;
}

#leaderboard .tingkat1 .no1-10 .no1-3 h4{
  width: 90px;
  background-color: #F3E033;
  padding: 1px 12px 1px 12px;
  font-size: 14px;
}

#leaderboard .no1-3 .no1{
  order: 2;
}
#leaderboard .no1-3 .no2{
  order: 1;
}
#leaderboard .no1-3 .no3{
  order: 3;
}

#leaderboard .tingkat2-ats{
  background-color: #9B8BDE;
  width: 363px;
  height: 130px;
  margin: 50px auto 0 auto;
  border-radius: 100% 100% 0 0;
}

#leaderboard .tingkat2-bwh{
  background-color: #9B8BDE;
  width: 363px;
  height: 300px;
  /* display: inline-block; */
  margin: -60px auto 0 auto;
  border-radius: 0px 0px 10px 10px;
}

#leaderboard .tingkat2-bwh .no4-10{
  background-color: #E0F2FF;
  width: 313px;
  height: 31px;
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5px;
  box-sizing: border-box;
}

#leaderboard .tingkat2-bwh .no4-10 img{
  margin: 0 8px;
}

#leaderboard .tingkat2-bwh .no4-10 h4{
  font-size: 20px;
}

#leaderboard .tingkat2-bwh .no4-10 h4.poin{
  position: relative;
  background-color: #F3E033;
  padding: 1px 12px 1px 12px;
  font-size: 14px;
  margin: 6px;
}
/* selesai leaderboard */


/* testimonial */

#testimonial{
height: 794px;
width: 100%;
}

#testimonial .tingkat2{
width: 100%;
height: 309px;
background: linear-gradient(90.02deg, #265188 0.01%, #4979b6 90.02%);
border-radius: 5px 5px 0 0;
}

#testimonial .tingkat1{
width: 100%;
height: 500px;
margin: 0 auto 0 auto;
box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 15);
border-radius: 5px;
}

#testimonial img{
margin-top: -50px;
border: 8px solid white;
box-sizing:content-box;
}

#testimonial h2{
width: -4%;
}

#testimonial a {
text-decoration: none;
padding: 4px 16px 8px 16px;
background-color: #9B8BDE;
color: black;
transition: all 0.4s;
}

#testimonial a:hover {
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
}
/* selesai testimonial */




/* our team */
#ourTeam{
  width: 100%;
  height: 645px;
  background-color:#EFF2F6 ;
}

#ourTeam h1{
  margin: 130px 0 100px 0;
}

#ourTeam .cardd{
  width: 350px;
  height: 185px;
  border-radius: 10px;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

#ourTeam img{
  width: 152px;
  height: 152px;
  border: 8px solid white;
  margin: -70px auto 0 auto;
}

/* selesai our team */


/* cta */

#cta{
  width: 1138px;
  height: 355px;
  border-radius: 25px;
  background-color: #DCC7F8;
  margin: 141px auto 0 auto;
}

#cta h2{
  font-size: 52px;
  font-weight: bold;
  line-height: 70px;
  margin: 36px 0 0 92px;
}

#cta h2 span{
  color:#04B100;
}

#cta p{
  font-size: 20px;
  line-height: 30px;
  margin: 16px 0 0 92px;
}

#cta .button{
  float: right;
  margin: -50px 92px 0 0;
}

#cta a.mulaiBelajar{
  background-color: #7827E6;
  color:white;
  width: 260px;
  height: 46px;
  border-radius: 50px;
  font-size: 20px;
  margin-bottom: 24px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}

#cta a.forum{
  border: 2px solid black;
  color:#151d36;
  width: 260px;
  height: 46px;
  border-radius: 50px;
  font-size: 20px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}


#cta .mulaiBelajar:hover{
background: #f3f3f3;
color: #151d36;
transition: all 0.5s;
}

#cta .forum:hover{
  background: #151d36;
  color: #fff;
  transition: all 0.5s;
}

/* tombol login,signupdan get started saat aktif */
#cta a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 500;
  background-color: #151d36;
  color: #fff;
  white-space: nowrap;
  transition: 0.4s;
}


/* selesai cta */




/*------------------------------------------------------------------ 
praktek
--------------------------------------------------------------- */



#praktek{
	border: 0.5px solid rgba(0, 0, 0, 0.5);
	border-radius: 30px;
	background-color: #ecf2f8;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.25);
	width: 95%;
	height: 981px;
	box-sizing: border-box;
  }
  
  
  #praktek .accordion-1{
	/* background-color: #04B100; */
	height: 770px;
	width: 100%;
	border-radius: 20px 20px 0 0;
	overflow: auto;
	align-items: center;
  }
  
  #praktek .accordion-1 .belajarYuk{
	height: 28px;
	width: 100%;
	background-color: #7827E6;
	border-radius: 20px 20px 0 0;
  }
  
  #praktek .accordion-1 .accordion{
	width: 100%;
	margin-top: -8px;
  }
  
  #praktek .bg-btnKirim {
	height: 60px;
	width: 100%;
	border-radius: 0 0 20px 20px;
  }
  
  #praktek .bg-btnKirim .buttonKirim{
	width: 292px;
	height: 40px;
	margin-top: 10px;
	background-color: #7827E6;
	box-sizing: border-box;
	bottom: -6px;
	border: 0.5px solid rgba(0, 0, 0, 0.219);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  }


  #praktek .modul{
	  width: 848px;
	  height: 699px;
	  border: 2px solid black;
	  position: relative;
	  left: -15px;
	  border-radius: 20px;
	  background-color: #fff;
  }

  #praktek .modul .modul2{
	  width: 818px;
	  height: 456px;
	  border-radius: 15px;
	  border: 2px solid black;
	  background-color: #fff;
	  margin-top: 15px;
	  position: relative;
      left: -11px;
  }

  #praktek .modul .komponen{
	width: 106%;
    height: 124px;
    border-bottom: 2px solid black;
    margin-top: 8px;
    position: relative;
    left: -24px;
  }

  #praktek .modul .komponen2{
	  width: 100%;
	  height: 120px;
	  overflow-x: auto;
  }

  #praktek .modul .komponen .komponen2 img.macamKomponen{
	  width: 88px;
	  height: 88px;
	  border: 1px solid black;
  }

  #praktek .modul .buttonModul{
	  width: 102.9%;
	  height: 91.5px;
	  border-radius: 0 0 19px 19px;
	  position: relative;
	  left: -12px;
  }

  #praktek .modul .buttonModul .btn{
	  width: 167px;
	  height: 37px;
  }

  #praktek .modul .buttonModul .btnSimpan{
	  background-color: #35C33B;
  }
  #praktek .modul .buttonModul .btnTempel{
	  background-color: #00BADD;
  }
  #praktek .modul .buttonModul .btnUlang{
	  background-color: #E6CF00;
  }

  
  #praktek .keForum{
	width: 848px;
	height: 117px;
	background-color: #DCC7F8;
	border-radius: 20px;
	border: 1px solid black;
	box-sizing: border-box;
	position: relative;
	left: -15px;
	margin-top: 14px;
  }
  
  
  #praktek .keForum p{
	width: 400px;
	position: relative;
	bottom: -8px;
  }
  
  
  
  #praktek .keForum .btn{
	width: 142px;
	height: 36px;
	position: relative;
	bottom: -20px;
  }
  
  
  
  /*------------------------------------------------------------------ 
  selesai praktek
  --------------------------------------------------------------- */
  



/* -----------------------------------------------------------------------------------------
    forum
--------------------------------------------------------------------------------------------*/

form .searchForum {
	width: 57.5%;
	height: 40px;
	background-color: #DCC7F8;
	border: 2px solid rgba(0, 0, 0, 0.5);
}

 section#macamPertanyaan{
	 background-color:#ECF2F8;
	 width: 100%px;
	 height: 1463px;
	 border-radius: 30px;
	 border: 0.5px solid rgba(0, 0, 0, 0.6);
	 overflow: hidden;
 }

 section#macamPertanyaan .jenisPertanyaan{
	 width: 617px;
	 min-height: 135px;
	 border: 1px solid black;
	 border-radius: 10px;
	 background-color: white;
 }

 section#macamPertanyaan  .jenisPertanyaan .fotoUser{
	 width: 60px;
	 height: 60px;
 }

 section#macamPertanyaan .jenisPertanyaan .namaUser{
	 width: 100%;
 }

 section#macamPertanyaan .jenisPertanyaan h4.waktu{
	 font-size: 14px;
	 float: right;
 }


 section#macamPertanyaan .jenisPertanyaan p{
	width: 100%;
    height: 4.5rem;
    overflow: hidden;
    margin-bottom: -12px;
 }

 section#macamPertanyaan .lebihBnyk button{
	 width: 327px;
	 height: 44px;
	 background-color: #7827E6;
	 box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
 }

.forumDanLeaderboard section#leaderboard{
	 background: transparent;
 }

.forumDanLeaderboard section#leaderboard .tingkat1{
	 height: 724px;
 }


/*----------------------------------------------------------------------------------------------
    selesai forum
-------------------------------------------------------------------------------------------------*/




/*----------------------------------------------------------------------------------------------
     halaman  profile 
-------------------------------------------------------------------------------------------------*/


.profile-page .page-header {
  height: 380px;
  background-position:center;
}


.profile-page .profile-content{
  width: 100%;
  height: 563px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
margin-top: -250px;
}

.profile-page .profile-content .avatar img{
  width: 160px;
  height: 160px;
  transform: translate3d(0,-50%,0);
  box-shadow: 0 5px 15px -8px rgb(0 0 0 / 24%), 0 8px 10px -5px rgb(0 0 0 / 40%);
}

.profile-page .profile-content .deskripsi{
  border-top: 1px solid rgba(0, 0, 0, 0.50);
  margin-top: 200px;
}

.profile-page .button .btn{
  width: 320px;
  height: 56px;
  background-color: #7827E6;
  color: white;
}


/*----------------------------------------------------------------------------------------------
    selesai halaman profile
-------------------------------------------------------------------------------------------------*/




/*----------------------------------------------------------------------------------------------
    memilih device
-------------------------------------------------------------------------------------------------*/
.memilihDevice img{
  width: 250px;
  height: 250px;
  border: 2px solid black;
}

.memilihDevice h1.button {
  padding: 5px 10px;
  background-color: cornflowerblue;
  display: inline-block;
  /* float: right; */
}

.memilihDevice h1.poin {
  padding: 5px 10px;
  display: inline-block;
  border-radius: 15px; 
  background-color: #a28383; 
}

.memilihDevice .bodyPoin{
  bottom: 20px;
    position: relative;
}

.memilihDevice .card-text{
  height: 64%;
}

.memilihDevice .device {
  background-color:#ECF2F8;
  width: 1020px;
  height: 375px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow:  0px 0px 9px 1px rgba(0, 0, 0, 0.25);;
}

.macamDevice{
  width: 1088px;
  height: 1197px;
  margin: 0 auto;
  border:  1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: auto;
}
  
.memilihDevice .card-body h2 {
  margin-top: 50px;
}



/* ---------------------------------------------------------------------------------------
    selessai memilih device
    --------------------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------------------------
  halaman forum detail pertanyaan
  --------------------------------------------------------------------------------------------------*/
#memilihMateri-page #conten-header .btnBukaMateri{
  width: 252px;
  height: 44px;
  background-color: #7827E6;
}

#memilihMateri-page #conten-header .btnBukaMateri:hover{
  color: black;
  background-color: transparent;

}

#memilihMateri-page #conten-header img{
  width: 332px;
  height: 332px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

#memilihMateri-page .conten-body{
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}


#memilihMateri-page .conten-body .perMateri{
  width: 95%;
  height: 92px;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.25);
  background-color:#cdddee;  ;
}

#memilihMateri-page .conten-body .perMateri button{
  width: 108px;
  height: 38px;
  border: 1px solid #151D36;
}

#memilihMateri-page .conten-body .perMateri button:hover{
  color: white;
  background-color: #151D36;
  ;
}



/* -----------------------------------------------------------------------------------------------
  selsai halaman forum detail pertanyaan
  --------------------------------------------------------------------------------------------------*/