#body-kursus{
	background-color: #DCC7F8;
	border: 2px solid rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	width: 100%;
}

#body-kursus .perMateri{
	background-color: white;
	border: 2px solid #151d36b0;
	border-radius: 15px;
	width: 94%;
}
.perMateri img{
	width: 220px;
	height: 220px;
	border: 2px solid #151d36b0;
}

#body-kursus .favorit{
	border-bottom: 2px solid #151d36b0;
}