

/*----------------------------------------------------------------------------------------------
    memilih device
-------------------------------------------------------------------------------------------------*/
.macamDevice{
  width:100%;
  /* height: 1000px;
  overflow: auto; */
}

.macamDevice button{
  background-color: #7827E6;
  color: white;
  transition: all 0.25s;
}

.macamDevice button:hover{
  color: #151D36;
  background-color:#DCC7F8 ;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25,);
}
  /* ---------------------------------------------------------------------------------------
      selessai memilih device
      --------------------------------------------------------------------------------------- */
  
  